<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        
        <title>Simple calculator</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #num1{
                margin: 3px;
            }
            #num2{
                margin: 3px;
            }
            button{
                margin: 3px;
            }
            .sc{
                width: 300px;
                border: 1px solid cornflowerblue;
                margin: 15%;
                box-shadow: 0px 0px 3px darkblue;
            }

        </style>


    </head>
    <body>
        <center>
        <div class="sc" >

        
        
            <h2>Simple calculator</h2>
        <label for="num1" >Number 1</label>
        <input type="number" id="num1">
        <br>
        <label for="num2" >Number 2</label>
        <input type="number" id="num2">
        <br>
        <button onclick="calculate()"> Calculate sum</button>
        <p id="resultID"> Result:</p>
        
    </div>
</center>
        


        <script>
            function calculate(){
            var num1 = parseInt(document.getElementById("num1").value);
            var num2 = parseInt(document.getElementById("num2").value);

            var result = num1+num2;
            
            var resultID = document.getElementById("resultID");
            resultID.textContent= "Result: The sum of two numbers is ="+result;
            

        }


        </script>

        



    </body>
</html>