<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhawani Shankar Sahu - CV</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Add custom CSS here -->
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <!-- Header Section -->
    <header class="jumbotron jumbotron-fluid text-left bg-info text-black">
        <div class="container" id="container1">
            <div class="row">
                <div class="col-6">
                    <h1>Bhawani Shankar Sahu</h1>
                    <h6>Bhubaneswar, Odisha, 751003</h5>
                    <h6>+919937530384 | bhawanishankar321@gmail.com</h6>
                    
                </div>
                <div class="col-2">

                </div>
                <div class="col-4" >
                    <img width="150px" src="pass4.png" alt="pass img" class="img-fluid rounded shadow" />
                </div>
            </div>
            
        </div>
    </header>

    <!-- Navbar -->
    <nav class="navbar">
    
            <a href="https://www.linkedin.com/in/sahubhawani/"  class="text-white">LinkedIn</a> |
            <a href="https://github.com/sahubhawani"  class="text-white">GitHub</a>
    </nav>

    <!-- Main Content -->
    <div class="container mt-4">

        <!-- Introduction Section -->
        <div class="row">
            
            <h3>Introduction</h2>
            <p>
                I have recently completed PG Diploma in Machine Learning (ML) and Artificial Intelligence (AI) from IIIT Bangalore and have successfully completed six projects during the course. I have a master in Physics from Pondicherry University and worked in the multinational company SpiGlobal. Currently, I am working in a teaching institution and have taught and mentored many students in the area of Physics like Quantum Physics, Classical Dynamics, Numerical Methods, fundamental use of machine learning and classical programming in Physics, etc.
            </p>
            <p>
                I am looking for challenging assignments in the field of machine learning where I can contribute to the company and enhance my ability and capability in this field.
            </p>
        </div>
        
        <!-- Core Competencies Section -->
        <div class="row">
                <h2>Core Competencies</h2>
        </div>
        <div class="row">
            <div class="col">
                <ul class="ul">
                    <li>Data Mining</li>
                    <li>EDA (Exploratory Data Analysis)</li>
                    <li>Business Analysis</li>
                    <li>Statistical Modelling</li>
                    <li>Machine Learning</li>
                    <li>Reinforcement Learning</li>
                    <li>Neural Networks</li>
                </ul>
            </div>
            <div class="col">
                <ul class="ul">
                    <li>NLP (Natural Language Processing)</li>
                    <li>Python</li>
                    <li>MySQL</li>
                    <li>MATLAB</li>
                    <li>Physics</li>
                    <li>Mathematics</li>
                    <li>Reasoning & Aptitude</li>
                </ul>
            </div>
        </div>
                
                
                
        
        
        <!-- Projects Section -->
        <div class="row">
            <h2>Projects</h2>
            <!-- Capstone Project -->
            <section>
                <h5>Capstone Project: Credit Card Fraud Detection, IIIT B</h3>
            <p>
                <strong>Problem Statement:</strong> Predict fraudulent credit card transactions
                <br>
                The data was highly skewed so it was handled first.
                Data was highly imbalanced hence imbalance was handled.
                Then trained logistic regression, Random forest using grid search to find the best model with optimal hyperparameters.
            </p>
            </section>
            
            <!-- Reinforcement Learning Project -->
            <section>
                <h3>Reinforcement Learning Project (Assisting Cab Driver), IIIT B</h3>
            <p>
                <strong>Problem Statement:</strong> Build an RL-based algorithm that can help cab drivers maximize their profits by improving their decision-making process on the field.
                <br>
                First created the environment that gives reward to the agent for its every action.
                Then created RL agent that takes action.
            </p>
            </section>

            <!-- Gesture recognition -->
            <section>
                <h3>Gesture recognition, IIIT B</h3>
            <p>
                <strong>Problem Statement:</strong> Develop a cool feature in the smart-TV that can recognize five different gestures performed by the user which will help users control the TV without using a remote.
                <br>
                The given image frames were cropped and resized based on the need.
                Trained a CNN to get a good model that can recognize gestures.
            </p>
            </section>
            
            <!-- Rasa Chat Bot -->
            <section>
                <h3>Rasa Chat Bot, IIIT B</h3>
            <p>
                Developed Rasa bot to help users discover restaurants quickly and efficiently and to provide a good restaurant discovery experience by using ZOMATO API.
            </p>
            </section>
            
            <!-- Telecom Churn Case Study -->
            <section>
                <h3>Telecom Churn Case Study, IIIT B</h3>
            <p>
                <strong>Problem Statement:</strong> Analyze customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn, and identify the main indicators of churn.
                <br>
                Handled missing values and filtered out high-value customers and then by EDA found out some important indicators.
            </p>
            </section>
            
        </div>

        <!-- Education Section -->
        <section>
            <h2>Education</h2>
            <p>
                PG Diploma - Machine Learning and Artificial Intelligence (Jan 2020 - Jan 2021)
                <br>
                IIIT Bangalore, Bengaluru
            </p>
            <ul>
                <li>Learned Data Mining, DBMS, EDA, Business Analysis, Statistical modeling, NLP, Machine Learning Algorithms, Neural networks, Reinforcement Learning.</li>
                <li>Completed one Capstone Project and besides that completed 5 more small projects during the coursework.</li>
            </ul>
            <p>
                Master of Science (M.Sc.) - Physics (Jul 2016 - Jun 2018)
                <br>
                Pondicherry University, Puducherry
            </p>
            <ul>
                <li>Studied Basic and Advanced physics besides that studied numerical methods to solve mathematically modeled real-life problems.</li>
                <li>Completed a project on the topic of Magneto hydrodynamics of the sun's surface by EDA of collected data from a satellite using Python and IDL.</li>
            </ul>
            <p>
                Bachelor of Science (B.Sc.) – Physics & Mathematics (Jul 2013 - Jun 2016)
                <br>
                Utkal University, Bhubaneswar, Odisha
            </p>
            <ul>
                <li>Studied Physics as the honors subject and mathematics as the major.</li>
                <li>Joined a real astronomy discovery research group led by a well-known radio astronomy scientist Dr. Anand Hota.</li>
            </ul>
        </section>

        <!-- Experience Section -->
        <section>
            <h2>Experience</h2>
            <p>
                Master trainer (ML and AI) - September 2021 – Present
                <br>
                Edunet Foundation
            </p>
            <p>
                Freelancer & Online academy - August 2021 – Present
                <br>
                Strive Private Limited & The Explorer Academy
            </p>
            <ul>
                <li>Currently working as a freelancer for Strive Private Limited, Puducherry.</li>
                <li>Started my own online academy on a small scale.</li>
            </ul>
            <p>
                Assistant Professor - Jul 2019 – Nov 2021
                <br>
                Vikash Group Of Education, Bhawanipatna
            </p>
            <ul>
                <li>Teaching physics to degree students and involving them in the new era of evolving technology using programming languages like Python, Matlab, Scilab.</li>
                <li>Introduced many students to the field of AI and ML and how this can be used in Physics.</li>
                <li>Guided two BCA students for their Projects on Remote control car using Android and Arduino.</li>
            </ul>
            <p>
                Subject Matter Expert - May 2018 - Nov 2018
                <br>
                SPi Global, Puducherry
            </p>
            <ul>
                <li>Created content for physics-related problems and have used Python and Excel for basic data analysis.</li>
                <li>Selected as Employee of the month twice in 5 months based on productivity.</li>
                <li>Used Excel extensively for Data Management.</li>
            </ul>
        </section>
        

        <!-- Achievements Section -->
        <section>
            <h2>Achievements</h2>
            <ul>
                <li>Qualified in National level Physics Olympiad organized by VISWASS Group of Institutes.</li>
                <li>Qualified GATE entrance thrice.</li>
            </ul>
        </section>

        <!-- Certifications Section -->
        <section>
            <h2>Certifications</h2>
            <ul>
                <li>Certificate awarded for successfully completing Quantum Physics online courses from IIT Madras through NPTEL.</li>
                <li>Certificate Awarded for successfully completing Basic MySQL course.</li>
                <li>Certificate awarded for successfully attending a workshop on recent trends in Astronomy and Astrophysics by IIA, Bangalore.</li>
                <li>Certificate awarded for successfully completing a summer course by IIA Kodaikanal.</li>
            </ul>
        </section>

        <!-- Hobbies and Interests Section -->
        <section>
            <h2>Hobbies and Interests</h2>
            <ul>
                <li>Automate boring repetitive works by programming.</li>
                <li>Love to repair hardware and electronics.</li>
                <li>Indoor games and Digital games.</li>
            </ul>
        </section>
    </div>

    <!-- Bootstrap and jQuery Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
